<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <%- include('menu') -%>
        

        <H1> <%= id %> </H1>
        <p>
            <%= edad %>
        </p>
        <p>
            <%= nombre %>
        </p>
    </body>
</html>