<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <%- include('menu') -%>
        

        <H1> <%= titulo %> </H1>
        <p>
            <%= parrafo %>
        </p>

    </body>
</html>