<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <H1> Bienvenido a la pagina </H1>
        <p>
            <%=parrafo %>
        </p>
        <img src="imagenes/homero-simpson-3.jpeg">
    </body>
</html>