<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <H1>Hola, Bienvenido <%= nombreUsuario%> a nuestro sitio web!!!</H1>
        <h4><%=email%></h4>
        <h4><%=telefono%></h4>
    </body>
</html>