<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link active" href="personas">Personas</a>

            <% if(!locals.session  || !locals.session.usuarioLogueado){%>
                <a class="nav-link active" href="login">Login</a>
            <%}%>

            <% if(locals.session  && locals.session.usuarioLogueado){%>
                <a class="nav-link active" href="#"><%=session.usuarioLogueado%></a>
                <a class="nav-link active" href="logout">Logout</a>
            <%}%>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>